/*css for detailssection, outputpanel, outputtext and submit button*/
#detailssection{
    border-radius: 12px;
}
#outputpanel{ 
    border-radius: 12px;
    height: 50px;
    font-style: italic;
}
#Output{
    position: absolute;
    top: 27px;
}
#html{
    border-radius: 12px;
    width: 100%;
    color: #c0ffff !important;
}


/*css for 1st row (header, mode button, sun and moon icons)*/
.firstrow{
    display: flex; 
    justify-content: center; 
    position: relative;
}
.header, h3{
    text-align: center; 
}
.upperright{
    position: absolute; 
    top: 4px;
    right: 0;
}
.moonpos{
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 30px;
}
.sunpos{
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 7px;
}
#sun{/*initial opacity settings for sun and moon icons*/
    opacity: 1;
    color: white;
}
#moon{
    opacity: 0;
    color: white;
}


/*css for the output panel (light + dark mode, also when details are submitted)*/
.greenbg{
    background-color: #E1ECD7;
    color: #6C6565;
}
.redbg{
    background-color: #F5B0B0;
    color: #6C6565;
}
.darkbg{ /*darkbg and lightbg have same bg color with body*/
    background-color: #19254c;
}
.lightbg{
    background-color: #f4f6fa;
}


/*css for details section (light and dark mode)*/
.lightmode{
    background-color: #e9edf2;
}
.darkmode{
    background-color: #455683;
}
.darkmodetext{
    color: #9abdf0;
}
.lightmodetext{
    color: #242933;
}


/*css for submit button (light and dark mode)*/
.lightbtn{
    background-color: #008cff;
}
.darkbtn{
    background-color: #3dacff;
}


/*css for the toggle switch (mode button) based from w3schools*/
.switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 25px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #008cff;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #008cff;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #008cff;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}